   
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Recommender</title>

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="./index.html" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Movie</a>
          </li>

        </ul>

      </nav>

    </div>
  </header>


  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Get</p>

            <h1 class="h1 hero-title">
              Personalized <strong>Movie</strong><br>Recommendations
            </h1>

            <div class="meta-wrapper">

              <div class="badge-wrapper">
                <div class="badge badge-fill">TOP 15</div>

                <div class="badge badge-outline">Genres</div>
              </div>

              <div class="ganre-wrapper">
                <a href="#">Enter your favourite movie in the Get Recommendations bar<br>Or Click on any movie poster</a>

                </div>

              </div>

            <button class="btn btn-primary">
              <ion-icon name="play"></ion-icon>

              <span>Try now</span>
            </button>

          </div>

        </div>
        
      <section class="cta">
        <div class="container">

          <div class="title-wrapper"></div>
          
          <form action="" class="cta-form">
            <input type="text" name="input" required placeholder="Enter your favourite movie" class="email-field" method="POST">

            <button type="submit" class="cta-form-btn">Get Recommendations</button>
          </form>

        </div>
      </section>
      </section>

      

      <!-- 
        - #RECOMMENDED
      -->

      <section class="top-rated">
        <div class="container">

          <p class="section-subtitle">Top Picks</p>

          <h2 class="h2 section-title">Recommended Just For You</h2>

          <ul class="filter-list">

            <li>
              <button class="filter-btn">Movies</button>
            </li>

            </ul>

          <ul class="movies-list">

            <li>
              <div class="movie-card">
                {% for movie in data1 %}
                <a href="#">
                  <figure class="card-banner">
                    <img src="{{url_for('assets',filename='images/tile.jpg')}}" alt="Poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="#">
                    <h3 class="card-title">{{movie.title}}</h3>
                  </a>

                </div>

                {% endfor %}
              </div>
            </li>            
           
          </ul>

        </div>
      </section>

      <!-- 
    - #TOP 8
     -->

      <section class="upcoming">
        <div class="container">

          <div class="flex-wrapper">

            <div class="title-wrapper">
              <p class="section-subtitle">IMDb rating based</p>

              <h2 class="h2 section-title">Top 8 Movies</h2>
            </div>

            <ul class="filter-list">

              <li>
                <button class="filter-btn">All Categories</button>
              </li>

              
            </ul>

          </div>

          <ul class="movies-list ">

            <li>
              <div class="movie-card">
                {% for movie in data %}
                <a href="#">
                  <figure class="card-banner">
                    <img src="{{url_for('assets',filename='images/tile.jpg')}}" alt="Poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="#">
                    <h3 class="card-title">{{movie.title}}</h3>
                  </a>

                </div>

                {% endfor %}
              </div>
            </li>

          </ul>

        </div>
      </section>

       <!-- 
    - #TOP in Genres
     -->

     <section class="upcoming">
      <div class="container">

        <div class="flex-wrapper">

          <div class="title-wrapper">
            <p class="section-subtitle">Genre based</p>

            <h2 class="h2 section-title">Top 4 Movies</h2>
          </div>

          <ul class="filter-list">

            <li>
              <button class="filter-btn">Romance</button>
            </li>

              <li>
                <button class="filter-btn">Thriller</button>
              </li>
              

          </ul>

        </div>
        <ul class="filter-list">

          <li>
            <button class="filter-btn">Romance</button>
          </li>
          

        </ul>

        <ul class="movies-list ">

          <li>
            <div class="movie-card">
              {% for movie in data2 %}
              <a href="#">
                <figure class="card-banner">
                  <img src="{{url_for('assets',filename='images/tile.jpg')}}" alt="Poster">
                </figure>
              </a>

              <div class="title-wrapper">
                <a href="#">
                  <h3 class="card-title">{{movie.title}}</h3>
                </a>

              </div>

              {% endfor %}
            </div>
          </li>

         
        </ul>
        
        <ul class="filter-list">

          <li>
            <button class="filter-btn">Thriller</button>
          </li>
          <li>
            <p> <br> </p>
          </li>
          

        </ul>


      <ul class="movies-list ">

        <li>
          <div class="movie-card">
            {% for movie in data3 %}
            <a href="#">
              <figure class="card-banner">
                <img src="{{url_for('assets',filename='images/tile.jpg')}}" alt="Poster">
              </figure>
            </a>

            <div class="title-wrapper">
              <a href="#">
                <h3 class="card-title">{{movie.title}}</h3>
              </a>

            </div>

            {% endfor %}
          </div>
        </li>

       
      </ul>
    </div>

      </div>
    </section>


      
    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">


          <ul class="footer-list">

            <li>
              <a href="./index.html" class="footer-link">Home</a>
            </li>

            <li>
              <a href="./index.html" class="footer-link">Movie</a>
            </li>


        </div>

        <div class="divider"></div>


      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
           2022 . Made for Microsoft Engage 
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>